.card {
  margin-bottom: 1rem;
  width: 100%;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

 .card-title h5 {
   height: 60px;
   word-break: break-all;
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
 }

 .card-actions {
   justify-content: space-between;
 }

.menu-item-wrapper {
  padding: 0px;
  margin: 0px;
}
